{% extends "layout.html" %}

{% block content %}

<div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ image_file }}">
        <div class="media-body">
          <h2 class="account-heading">{{ u.logname }}</h2>
            {% if u.fname and u.lname %}
              <p class="text-secondary">Name: {{ u.fname }} {{ u.lname }}</p>
            {% endif %}
            {% if u.title %}
              <p class="text-secondary">Title: {{ u.title }}</p>
            {% endif %}
            {% if u.phone %}
              <p class="text-secondary">Phone: {{ u.phone }}</p>
            {% endif %}
            {% if u.addr %}
              <p class="text-secondary">Address: {{ u.addr }}</p>
            {% endif %}

        </div>
      </div>
    {% if current_user.id != u.id %}
        <p class="text-secondary">Trust this User?</p>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class ="form-group">
              <div class="form-group">
                  {{ form.trust_field(class="form-control form-control-sm") }}
              </div>
            </fieldset>
            <div class="form-group">
              {{ form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    {% endif %}
    </div>


<h2>  Ratings:</h2>
{% for r in u.ratings|reverse%}
  <article class="media content-section">
          <div class="media-body">
                <h3><a class="article-title" href="{{ url_for('book', book_isbn=r.book_isbn) }}">
                    {{ b.query.filter_by(ISBN=r.book_isbn).first().title }}</a></h3>
             <p class="article-content">{{ r.ratingScore }}/10</p>
            {% if r.ratingComment %}
              <p class="article-content">{{ r.ratingComment }}</p>
            {% endif %}
          </div>
</article>
{% endfor %}


{% endblock content %}